@charset "UTF-8";
@import url(reset.css); 

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

/* 컨텐츠 */
#content_wrap {
    width: 100%;
}

/* 메인비주얼 */
#content_wrap > .main_visual {
    width: 100%;
    background: #ffc600;
}

#content_wrap > .main_visual > .visual_img {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

#content_wrap > .main_visual > .visual_img > svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cls-1{
    fill:none;
    stroke:#104495;
    stroke-miterlimit:10;
    stroke-width:0.5px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 500;
    animation: dash 13s linear alternate forwards;
}

.cls-2{
    fill:none;
    stroke:#104495;
    stroke-miterlimit:10;
    stroke-width:0.89px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 500;
    animation: dash 13s linear alternate forwards;
    }

    @keyframes dash {
        from {
            stroke-dashoffset: 1000;
            fill: #ffc600;
        }
        to {
            stroke-dashoffset: 500; 
            fill: #104495;
        }
}

/* 메인 콘텐츠 */
#content_wrap > .gradient_box_1 {
    width: 100%;
    height: 200px;
    background: rgb(255,198,0);
    background: linear-gradient(0deg, rgba(255,198,0,0) 0%, rgba(255,198,0,1) 100%);

}


#content_wrap > .main_content {
    width: 1024px;
    margin: 0 auto;
}

#content_wrap > .main_content > .content_introduce {
    margin: 0 auto;
    height: auto;
}

#content_wrap > .main_content > .content_introduce > .intro_txt_wrap {
    height: 300px;
    position: relative;
}

#content_wrap > .main_content > .content_introduce > .intro_txt_wrap > .intro_txt {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content_wrap > .main_content > .content_introduce > .intro_txt_wrap  > .intro_txt > h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.8em;
    font-weight: bolder;
    color: #104495;
    text-align: center;
    margin-bottom: 10px;
}

#content_wrap > .main_content > .content_introduce > .intro_txt_wrap  > .intro_txt > p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.2em;
    color: #104495;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* 소개 */

/* 슬라이드 */
.content_introduce > .slider_wrap {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider_wrap > .img_wrap {
    float: left;
    width: 45%;
}


/* 슬라이드 설명부분 */
.slider_wrap >  .txt_wrap {
    float: left;
    width: 50%;
}

.slider_wrap > .txt_wrap > .txt {
    width: 100%;
}

.slider_wrap > .txt_wrap > .txt > .msg {
    margin: 20px;
    margin-bottom: 40px;
}

.slider_wrap > .txt_wrap > .txt > .msg > h2 {
    margin: 20px auto;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 1.3em;
    color: #0a2858;
    text-align: left;
}



/* 미디어쿼리 */
@media screen and (max-width: 767px) {
    /* 메인비주얼 */
    #content_wrap > .main_visual > .visual_img {
        width: 98vw;
    }

    /* 메인컨텐츠 */
    #content_wrap > .main_content {
        width: 90vw;
    }

    #content_wrap > .main_content > .content_introduce > .intro_txt_wrap {
        height: 50vh;
    }

    .main_content > .content_introduce > .intro_txt_wrap  > .intro_txt > h3 {
        word-break:keep-all;
        font-size: 1.4em;
    }

    .main_content > .content_introduce > .intro_txt_wrap  > .intro_txt > p {
        word-break:keep-all;
        font-size: 1.1em;
    }

    /* 슬라이드 */

    .slider_wrap > .img_wrap {
        float: none;
        width: 90vw;
        margin: 0 auto;
    }

    .slider_wrap > .img_wrap > .bxslider_box {
        margin: 0 auto;
        width: 350px;
    }

    /* 슬라이드 설명부분 */
    .slider_wrap >  .txt_wrap {
        float: none;
        width: 90vw;
        height: auto;
    }
    .slider_wrap > .txt_wrap > .txt {
        margin: 0 auto;
        width: 90vw;
    }

    .slider_wrap > .txt_wrap > .txt > .msg > h2 {
        width: 100%;
        text-align: center;
        word-break:keep-all;
        font-size: 1.2em;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* 메인비주얼 */
    #content_wrap > .main_visual > .visual_img {
        width: 98vw;
    }

    /* 메인컨텐츠 */
    #content_wrap > .main_content {
        width: 90vw;
    }

    .main_content > .content_introduce > .intro_txt_wrap  > .intro_txt > h3 {
        word-break:keep-all;
    }

    .main_content > .content_introduce > .intro_txt_wrap  > .intro_txt > p {
        word-break:keep-all;
    }

    /* 슬라이드 */

    .slider_wrap > .img_wrap {
        float: none;
        width: 90vw;
        margin: 0 auto;
    }

    .slider_wrap > .img_wrap > .bxslider_box {
        margin: 0 auto;
        width: 500px;
    }

    /* 슬라이드 설명부분 */
    .slider_wrap >  .txt_wrap {
        float: none;
        width: 90vw;
        height: auto;
    }
    .slider_wrap > .txt_wrap > .txt {
        margin: 0 auto;
        width: 90vw;
    }

    .slider_wrap > .txt_wrap > .txt > .msg > h2 {
        width: 100%;
        text-align: center;
        word-break:keep-all;
    }
}
    
@media screen and (min-width: 1024px) {
    /* 메인비주얼 */
    #content_wrap > .main_visual > .visual_img {
        width: 98vw;
    }

    /* 슬라이드 */
    .slider_wrap > .img_wrap > .bxslider_box {
        margin: 0 auto;
        width: 450px;
    }

    /* 슬라이드 설명부분 */
    .slider_wrap >  .txt_wrap {
        position: relative;
        height: 400px;
    }

    .slider_wrap > .txt_wrap > .txt {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .slider_wrap > .txt_wrap > .txt > .msg > h2 {
        text-align: left;
    }
}